<!DOCTYPE html>
<html lang="en">

<head>
    <title>Search Tweets</title>
    <!-- Tab Icon -->
    <link rel="icon" href="static/icon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    
    <div class="container">
        
        <h1 style="text-align:center; margin-top: 40px; margin-bottom: 0px; ">
            <strong>
                <a href="/" style="text-decoration:None; color:rgb(231, 231, 231); font-size: 50px;">Search Tweets</a>
            </strong>
        </h1>
        <h5 class="text-muted" style="text-align:center; margin-top: 5px; margin-bottom: 15px; ">Check out the <a href="https://github.com/tngaspar/twitter-stream-mongo" target="_blank">source code</a></h5>
        
        <h4 class="text-muted">Search tweets in ElasticSearch</h4>
        <form action="/search" method="post" style="margin-bottom: 40px;">
            <div class="input-group">
                <input type="text" class="form-control input-lg " autofocus name="search" placeholder="Search" >
                <div class="input-group-btn">
                    <button class="btn btn-primary btn-lg" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        
        <h4>Demo with tweets related to engineering and tech jobs.</h4>
        <h4>Example search: "Software Engineer Paris" or "Data Scientist London".</h4>

        &nbsp;
        <h1 style="text-align: center;">Number of Indexed Tweets</h1>
        <h1 style="text-align: center; font-size: 85px;"><strong>{{response['count']}}</strong></h1>
        
        <!--<h2>Database Dashboard</h2>
        <h4 class="text-muted">Made with Kibana</h4>

        <p>{{response}}</p>


        <iframe height="520" width="100%" src="http://localhost:5601/app/dashboards#/view/4c75d5d0-00a8-11ed-8e58-77506b69de12?embed=true&_g=(filters%3A!()%2CrefreshInterval%3A(pause%3A!f%2Cvalue%3A30000)%2Ctime%3A(from%3Anow-7d%2Cto%3Anow))&show-time-filter=true"></iframe>
        <div class="text-center text-muted" style="margin-top:20px">
            <p>&copy; Tiago Gaspar</p>
        </div>-->

    </div>

</body>

</html>